@charset "utf-8";

@media (max-width: 812px) {
  .visual .txtwrap {
    width: 100vw;
    padding: 0 3%;
  }
  .visual .txtwrap h2 {
    font-size: 36px;
  }
  .visual .txtwrap p {
    font-size: 16px;
  }
  .visual .txtwrap:before {
    height: 30px;
    margin: 0 0 20px 0;
  }
  .visual .txtwrap:after {
    height: 30px;
    margin: 45px 0 0 0;
  }
}

@media (max-width: 812px) {
  #section2 .conwrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
  #section2 .conwrap .titlearea {
    width: 100%;
    padding: 0 0px;
    margin-bottom: 80px;
  }
  #section2 .conwrap .titlearea h2 {
    font-size: 16px;
  }
  #section2 .conwrap .titlearea h3 {
    font-size: 32px;
  }
  #section2 .conwrap .tech {
    width: 100%;
    height: 300px;
    margin: 0 2% 2% 0;
  }
  #section2 .conwrap .tech .txtwrap {
    padding: 15px 25px;
  }
  #section2 .conwrap .tech .txtwrap .tit {
    margin-bottom: 35px;
    font-size: 22px;
  }
  #section2 .conwrap .tech.bg5 .tit {
    font-size: 24px;
  }
}

@media (max-width: 812px) {
  #section3 {
    padding: 140px 5%;
  }
  #section3 .conwrap {
    width: 100%;
  }
  #section3 .conwrap .txtwrap {
    width: 100%;
  }
  #section3 .conwrap .txtwrap .titlearea h2 {
    font-size: 16px;
  }
  #section3 .conwrap .txtwrap .titlearea h3 {
    font-size: 32px;
  }
  #section3 .conwrap .txtwrap .merit {
    justify-content: space-between;
  }
  #section3 .conwrap .txtwrap .merit dl {
    width: 46%;
  }
  #section3 .conwrap .txtwrap .merit dl dd {
    font-size: 14px;
  }
  #section3 .conwrap .imgwrap {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(100px);
    padding: 0;
  }
  #section3 .conwrap .imgwrap .img1 {
    display: none;
  }
  #section3 .conwrap .imgwrap .img2 {
    width: 49%;
  }
  #section3 .conwrap .imgwrap .img3 {
    width: 49%;
    margin: 0;
  }
}

@media (max-width: 812px) {
  #section4 {
    padding: 190px 0 190px 3%;
  }
  #section4 .conwrap .titlearea h2 {
    font-size: 16px;
  }
  #section4 .conwrap .titlearea h3 {
    font-size: 32px;
    width: 100%;
  }
  #section4 .conwrap .titlearea a {
    margin-top: 20px;
  }
  #section4 .conwrap .nn .slide {
    width: 320px;
    margin-right: 10px;
  }
  #section4 .conwrap .nn .slide .thumb {
    height: 178px;
  }
  #section4 .conwrap .nn .slide .thumb:after {
    width: 59px;
    height: 59px;
  }
  #section4 .conwrap .nn .slide .info .tit {
    font-size: 18px;
  }
}
