@charset "UTF-8";

@media (max-width: 812px) {
  .pageTop.pn1 .bg {
    background: url(/images/sub/page_visual1.jpg) no-repeat 55%;
    background-size: cover;
  }
  .pageTop .titlearea {
    padding: 0 30px;
  }
  .pageTop .titlearea h2 {
    font-size: 40px;
  }
  .pageTop .titlearea h3 {
    font-size: 18px;
  }
  .pageTop .titlearea p {
    font-size: 14px;
  }
  .page_title1 {
    font-size: 38px;
  }
}
